.container-fluid{
    padding: 0;
}
.row, .col{
    width: 100%;
    margin: 0;
    padding: 0;
}
.pos-f-t{
    position: absolute;
    z-index: 1;
}
.bg-dark{
    background-color: rgba(0,0,0,0) !important;
}

@media all and (max-width:450px){
    .p-4{
        width: 300px !important;
    }
}
}
.navbar-toggler{
    border: 1px rgba(0,0,0,0.3) solid !important;
}
.background-img{
    background-image:url(images/hero-1.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
    z-index: -2;
}
.background-img h1{
    font-weight: bold;
}
.hero-title{
    margin-left: 14% !important;
    margin-top: 14% !important;
    color: #e2521d;
    letter-spacing: .2em;
    font-family: Arial;
    border-left: 1px black dotted;
    border-bottom: 1px black dotted;
    padding: 1em;
    text-shadow: 0.1em 0.1em 2px black;
}
.section-title{
    color: #e2521d;
    letter-spacing: .2em;
    font-family: Arial;
    border-left: 1px black dotted;
    border-bottom: 1px black dotted;
    margin-left: 14% !important;
    padding: .4em;
}
.about, .work, .skills{
    letter-spacing: 1px;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 1.3em;
    margin-right: 1.3em;
}
.card-body{
    letter-spacing: 1px;
}
.btn-link{
    color: #1DADE2;
}
.mb-0{
    text-align: center;
}
.row{
    display: flex;
    flex-direction: column;
}
.progress-label{
    width: 7em;
    font-weight: bold;
}
.progress{
    margin: 1em;
    width: 90%;
    transition-duration: 0.2s;
    transition-property: width;
    transition-timing-function: ease-in-out;
}
.progress:hover{
    width: 95%;
}
.bg-html{
    background-color: darkseagreen;
}
.bg-css{
    background-color: red;
}
.bg-js{
    
}
.bg-py{
    
}
.bg-sql{
    
}
.bg-django{
    
}
.alert{
    margin: 1em;
}
form{
    margin: 1em;
}
#icons{
  position: fixed;
  top: 0;
  right: 0.5em;
}
.fa-github:hover{
    transform:rotate(20deg);
}
.fa-linkedin:hover{
    transform:rotate(20deg);
}
.fa-github, .fa-linkedin{
    font-decoration: none;
    color: black;
}