.container-fluid{
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.2em;
}
.row, .col{
    width: 100%;
    margin: 0;
    padding: 0;
}
#section-coloring{
    background-color: #eaeaea;
}
#edu{
    background-color: #eaeaea;
}
/* Nav Arrow Icon reference: <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             
title="Flaticon">www.flaticon.com</a></div> */
.navbar-toggler-icon{
    background-image: url(images/arrow-down.jpg) !important;
}
.pos-f-t{
    position: absolute;
    z-index: 1;
}
.bg-dark{
    background-color: rgba(0,0,0,0) !important;
}
.text-muted a{
    color: black;
}
@media all and (max-width:470px){
    .p-4{
        width: 300px !important;
    }
}
.navbar-toggler{
    border: 1px rgba(0,0,0,0) solid !important;
}
.background-img{
    background-image:url(images/hero-1.jpg);
    background-position: bottom;
    background-size: cover;
    height: 550px;
    width: 100%;
    z-index: -2;
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition-property: height;
    transition-duration: 1s;
    -moz-transition-property: height;
    -webkit-transition-property: height;
}
@media all and (min-width:550px){
    .background-img{
        background-position: bottom;
        height: 600px;
    }
}
.hero-title{
    margin-left: 14% !important;
    margin-top: 10% !important;
    color: #ff3e37;
    letter-spacing: .2em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    border-left: 1px black dotted;
    border-bottom: 1px black dotted;
    padding: 1em;
    text-shadow: 0.1em 0.1em 2px black;
    transition-property: margin-top;
    transition-duration: 2s;
    -moz-transition-property: margin-top;
    -webkit-transition-property: margin-top;
}
@media all and (max-width: 550px){
        .hero-title{
            margin-top: 18% !important;
    }
}
.hero-title h1{
    font-size: 4em;
    font-weight: bold;
}
.hero-title h2{
    font-size: 2em;
}
.section-title{
    color: #ff3e37;
    letter-spacing: .2em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    border-left: 1px black dotted;
    border-bottom: 1px black dotted;
    margin-left: 14% !important;
    padding: .4em;
    text-shadow: 1px 1px 1px black;
}
.about, .work, .skills{
    letter-spacing: 1px;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 1.3em;
    margin-right: 1.3em;
}
.overflow-auto{
    height: 180px;
}
@media all and (min-width: 900px){
    .overflow-auto{
        height: 100%;
    }
    .form-control{
        width: 850px;
    }
}

.card-header{
    background-color: #eaeaea;
}
.card-body{
    letter-spacing: 1px;
}
.btn-link{
    color: #4381c1;
}
.mb-0{
    text-align: left;
}
.row{
    display: flex;
    flex-direction: column;
}
.progress-label{
    width: 100px;
    font-weight: bold;
    font-size: 1.3em;
}
.progress{
    margin: 1em;
    width: 80%;
    background-color: transparent;
    transition-duration: 0.2s;
    transition-property: width;
    transition-timing-function: ease-in-out;
    line-height: 14px;
    -moz-transition-property: width;
    -webkit-transition-property: width;
}
.progress:hover{
    width: 85%;
}
.bg-html{
    background-color: #4381c1;
}
.bg-css{
    background-color: #253c78;
}
.bg-js{
    background-color: #4381c1;
}
.bg-py{
    background-color: #253c78;
}
.bg-sql{
    background-color: #4381c1;
}
.bg-django{
    background-color: #253c78;
}
.alert{
    margin: 1em;
}
.alert-secondary{
    background-color: #dbe4ee !important;
    border-color: rgba(0,0,0,0.2);
}
form{
    margin: 1em;
}
#icons{
  position: fixed;
  top: 0;
  right: 0.5em;
}
.fa-github:hover{
    transform:rotate(10deg);
}
.fa-linkedin:hover{
    transform:rotate(10deg);
}
.fa-file-word:hover{
    transform:rotate(10deg);
}
.fa-github, .fa-linkedin, .fa-file-word{
    font-decoration: none;
    color: black;
}
.form-control{
    background-color: #dbe4ee !important;
    letter-spacing: .1em;
    box-shadow: grey 2px 2px 5px;
}
#send-deco{
    width: 6em;
    transition-property: background-color, border-color;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    -moz-transition-property: background-color, border-color;
    -webkit-transition-property: background-color, border-color;
}
#send-deco:hover{
    background-color: #b7cade !important;
    font-family: 'Caveat', cursive;
}